<app-navbar></app-navbar>
<div class="container ps-0">
    <div class="row">
        <div class="col-lg-2">
            <app-menu [nav]="'/hotel'"></app-menu>
        </div>
        <div class="col-lg-10 px-4 pt-4">
            <div class="d-flex justify-content-between pb-4 hotel-header">
                <h4>Manage Hotels</h4>
                <button class="btn add-btn"
                        data-bs-toggle="modal" data-bs-target="#addHotelModal"
                ><span class="p-2"><img src="../../../assets/images/add.png"/></span>Add Hotel
                </button>
                <div class="modal fade" id="addHotelModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Hotel</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="createForm" (ngSubmit)="createHotel">
                                    <div class="d-flex">
                                        <div class="w-100 pe-4">
                                            <div class="d-flex align-items-center my-3">
                                                <label for="city" class="form-label me-3">City</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <select class="form-select" aria-label="Default select example" formControlName="city">
                                                        <option *ngFor="let city of allCities$ | async" [value]="city._id">{{city.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center my-3">
                                                <label for="type" class="form-label me-3">Type</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <select class="form-select" aria-label="Default select example" formControlName="type">
                                                        <option value="hotel">Hotel</option>
                                                        <option value="apartment">Apartment</option>
                                                        <option value="resort">Resort</option>
                                                        <option value="villa">Villa</option>
                                                        <option value="carbin">Carbin</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <label for="distance" class="form-label me-3">Distance</label>
                                                    <div class="flex-grow-1 ms-4">
                                                        <input type="text" class="form-control" id="distance"
                                                        formControlName="distance">
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <label for="minPrice" class="form-label me-3">Price</label>
                                                    <div class="flex-grow-1 ms-4">
                                                        <input type="text" class="form-control" id="minPrice"
                                                        formControlName="minPrice">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 ps-4">
                                            <div class="d-flex align-items-center my-3">
                                                <label for="name" class="form-label me-3">Name</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="name"
                                                    formControlName="name">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center my-3">
                                                <label for="address" class="form-label me-3">Address</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="address"
                                                    formControlName="address">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <label for="rating" class="form-label me-3">Rating</label>
                                                    <div class="flex-grow-1 ms-4">
                                                        <input type="text" class="form-control" id="rating"
                                                        formControlName="rating">
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <label for="review" class="form-label me-3">Review</label>
                                                    <div class="flex-grow-1 ms-4">
                                                        <input type="text" class="form-control" id="review"
                                                        formControlName="review">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="d-flex">
                                        <div class="w-100 pe-4">
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="desc0" class="form-label me-3">Desc</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="desc0"
                                                    formControlName="desc0">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <label for="desc1" class="form-label me-3">Bed</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="desc1"
                                                    formControlName="desc1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 ps-4">
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="desc2" class="form-label me-3">Cancel</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="desc2"
                                                    formControlName="desc2">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <label for="desc3" class="form-label me-3">Payment</label>
                                                <div class="flex-grow-1 ms-4">
                                                    <input type="text" class="form-control" id="desc3"
                                                    formControlName="desc3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="photos0" class="form-label me-3">Thumbnail</label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="photos0"
                                                formControlName="photos0">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="photos1" class="form-label me-3">Photos</label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="photos1"
                                                formControlName="photos1">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="photos2" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="photos2"
                                                formControlName="photos2">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="photos3" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="photos3"
                                                formControlName="photos3">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label for="photos4" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="photos4"
                                                formControlName="photos4">
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="details0" class="form-label me-3">Details</label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="details0"
                                                formControlName="details0">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="details1" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="details1"
                                                formControlName="details1">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="details2" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="details2"
                                                formControlName="details2">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label for="details3" class="form-label me-3"></label>
                                            <div class="flex-grow-1 ms-4">
                                                <input type="text" class="form-control" id="details3"
                                                formControlName="details3">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn delete-btn" data-bs-dismiss="modal" id="btn-close">
                                    Close
                                </button>
                                <button type="button" class="btn edit-btn close-btn" (click)="createHotel()">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2 hotel-list">
                <div class="d-flex justify-content-between p-4 mx-5 hotel-search">
                    <h4>Hotel List</h4>
                    <div class="">
                        <img src="../../../assets/images/search.png"/>
                        <input type="text" placeholder="Search hotel" [value]="searchVal" [formControl]="inputForm"/>
                    </div>
                </div>
                <div>
                    <table class="w-100">
                        <thead>
                        <tr>
                            <th scope="col" class="ps-4">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Address</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Min Price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let hotel of allHotels$ | async; index as i">
                            <td class="ps-4">{{i + 1}}</td>
                            <td>{{hotel.name}}</td>
                            <td>{{hotel.type}}</td>
                            <td>{{hotel.address}}</td>
                            <td>{{hotel.distance}}m</td>
                            <td>{{hotel.rating}}</td>
                            <td>${{hotel.cheapestPrice}}</td>
                            <td>
                                <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#editHotelModal" (click)="initEditHotelForm(hotel)">
                                        <span>
                                            <img src="../../../assets/images/edit.png"/>
                                        </span>
                                    Edit
                                </button>
                                <div class="modal fade" id="editHotelModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="editForm" (ngSubmit)="createHotel">
                                                    <div class="d-flex">
                                                        <div class="w-100 pe-4">
                                                            <div class="d-flex align-items-center my-3">
                                                                <label for="city" class="form-label me-3">City</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <select class="form-select" aria-label="Default select example" formControlName="city">
                                                                        <option *ngFor="let city of allCities$ | async" [value]="city._id">{{city.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center my-3">
                                                                <label for="type" class="form-label me-3">Type</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <select class="form-select" aria-label="Default select example" formControlName="type">
                                                                        <option value="hotel">Hotel</option>
                                                                        <option value="apartment">Apartment</option>
                                                                        <option value="resort">Resort</option>
                                                                        <option value="villa">Villa</option>
                                                                        <option value="carbin">Carbin</option>
                                                                      </select>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <label for="distance" class="form-label me-3">Distance</label>
                                                                    <div class="flex-grow-1 ms-4">
                                                                        <input type="text" class="form-control" id="distance"
                                                                        formControlName="distance">
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <label for="minPrice" class="form-label me-3">Price</label>
                                                                    <div class="flex-grow-1 ms-4">
                                                                        <input type="text" class="form-control" id="minPrice"
                                                                        formControlName="minPrice">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="w-100 ps-4">
                                                            <div class="d-flex align-items-center my-3">
                                                                <label for="name" class="form-label me-3">Name</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="name"
                                                                    formControlName="name">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center my-3">
                                                                <label for="address" class="form-label me-3">Address</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="address"
                                                                    formControlName="address">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <label for="rating" class="form-label me-3">Rating</label>
                                                                    <div class="flex-grow-1 ms-4">
                                                                        <input type="text" class="form-control" id="rating"
                                                                        formControlName="rating">
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <label for="review" class="form-label me-3">Review</label>
                                                                    <div class="flex-grow-1 ms-4">
                                                                        <input type="text" class="form-control" id="review"
                                                                        formControlName="review">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="d-flex">
                                                        <div class="w-100 pe-4">
                                                            <div class="d-flex align-items-center mb-3">
                                                                <label for="desc0" class="form-label me-3">Desc</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="desc0"
                                                                    formControlName="desc0">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <label for="desc1" class="form-label me-3">Bed</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="desc1"
                                                                    formControlName="desc1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="w-100 ps-4">
                                                            <div class="d-flex align-items-center mb-3">
                                                                <label for="desc2" class="form-label me-3">Cancel</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="desc2"
                                                                    formControlName="desc2">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <label for="desc3" class="form-label me-3">Payment</label>
                                                                <div class="flex-grow-1 ms-4">
                                                                    <input type="text" class="form-control" id="desc3"
                                                                    formControlName="desc3">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="photos0" class="form-label me-3">Thumbnail</label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="photos0"
                                                                formControlName="photos0">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="photos1" class="form-label me-3">Photos</label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="photos1"
                                                                formControlName="photos1">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="photos2" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="photos2"
                                                                formControlName="photos2">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="photos3" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="photos3"
                                                                formControlName="photos3">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <label for="photos4" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="photos4"
                                                                formControlName="photos4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="details0" class="form-label me-3">Details</label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="details0"
                                                                formControlName="details0">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="details1" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="details1"
                                                                formControlName="details1">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="details2" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="details2"
                                                                formControlName="details2">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-3">
                                                            <label for="details3" class="form-label me-3"></label>
                                                            <div class="flex-grow-1 ms-4">
                                                                <input type="text" class="form-control" id="details3"
                                                                formControlName="details3">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn delete-btn d-flex justify-content-center" data-bs-dismiss="modal"
                                                        id="update-btn-close"><span>Close</span>
                                                </button>
                                                <button type="button" class="btn edit-btn close-btn d-flex justify-content-center"
                                                        (click)="onUpdateHotel()">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="delete-btn" (click)="onDeleteHotel(hotel)">
                                        <span>
                                            <img src="../../../assets/images/delete.png"/>
                                        </span>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>