<div class="wrapper">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <h2 class="text-white">Save time, save money!</h2>
        </div>
        <div class="row">
            <p>Sign up and we'll send the best deals to you</p>
        </div>
        <div class="row w-100 gx-1 d-flex justify-content-center margintop-20">
            <div class="col-lg-4 col-8">
                <input type="text" class="w-100" placeholder="Your email address">
            </div>
            <div class="col-lg-2 col-4 h-100">
                <button class="text-white w-75 h-100">Subscribe</button>
            </div>
        </div>
    </div>
</div>
