@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

a, button {
    cursor: pointer !important;
    user-select: none;
}

a {
    text-decoration: none !important;
}