<div class="wrapper">
    <div class="footer-top-menu d-flex flex-column justify-content-center align-items-center">
        <div class="property-list w-100 d-flex justify-content-center">
            <button class="text-white">List your property</button>
        </div>
        <div class="container action-list d-flex flex-wrap justify-content-center align-items-center">
            <a href="">Mobile version</a>
            <a href="">Your account</a>
            <a href="">Make changes online to your booking</a>
            <a href="">Customer Service Help</a>
            <a href="">Become an affilliate</a>
            <a href="">Booking.com for business</a>
        </div>
    </div>
    <div class="footer-link container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2 col-3 d-flex flex-column">
                <a href="">Countries</a>
                <a href="">Regions</a>
                <a href="">Cities</a>
                <a href="">Districts</a>
                <a href="">Airports</a>
                <a href="">Hotels</a>
                <a href="">Places of interest</a>
            </div>
            <div class="col-lg-2 col-3 d-flex flex-column">
                <a href="">Homes</a>
                <a href="">Apartments</a>
                <a href="">Resorts</a>
                <a href="">Villas</a>
                <a href="">Hostels</a>
                <a href="">B&Bs</a>
                <a href="">Guest houses</a>
            </div>
            <div class="col-lg-2 col-3 d-flex flex-column">
                <a href="">Unique places to stay</a>
                <a href="">All destinations</a>
                <a href="">All flight destinations</a>
                <a href="">All car rental locations</a>
                <a href="">Discover</a>
                <a href="">Reviews</a>
                <a href="">Discover monthly stays</a>
                <a href="">Unpacked: Travel articles</a>
                <a href="">Seasonal and holiday deals</a>
                <a href="">Traveller Review Awards</a>
            </div>
            <div class="col-lg-2 col-3 d-flex flex-column">
                <a href="">Car rental</a>
                <a href="">Flight finder</a>
                <a href="">Restaurant reservation</a>
                <a href="">Booking.com for Travel Agents</a>
            </div>
            <div class="col-lg-2 d-flex flex-column hidden-lg" >
                <a href="">Coronavirus (COVID-19) FAQs</a>
                <a href="">About Booking.com</a>
                <a href="">Customer Service Help</a>
                <a href="">Partner help</a>
                <a href="">Careers</a>
                <a href="">Sustainability</a>
                <a href="">Press Center</a>
                <a href="">Safety Resource Center</a>
                <a href="">Investor relations</a>
                <a href="">Term & Conditions</a>
                <a href="">Partner dispute</a>
                <a href="">How We Work</a>
                <a href="">Privacy & cookie statement</a>
                <a href="">MSA statement</a>
                <a href="">Corporate contact</a>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center flex-column align-items-center">
        <div class="row extranet-link">
            <a href="">Extranet Log-in</a>
        </div>
        <div class="info row">
            <p class="text-center">Copyright © 1996–2023 Booking.com™. All rights reserved.
            </p>
            <p>
                Booking.com is part of Booking Holdings Inc., the world leader in online travel and related services.
            </p>
        </div>
        <div class="row price-line-list d-flex">
            <img class="booking" src="../../../assets/images/booking.png" alt="">
            <img class="priceline" src="../../../assets/images/priceline.png" alt="">
            <img class="kayak" src="../../../assets/images/kayak.png" alt="">
            <img class="agoda" src="../../../assets/images/agoda.png" alt="">
            <img class="rentalcars" src="../../../assets/images/rentalcars.png" alt="">
            <img class="opentable" src="../../../assets/images/opentable.png" alt="">
        </div>
    </div>
</div>